In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
subm = pd.read_csv('sample_submission.csv')

In [3]:
train.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [4]:
# train = train.drop('region',1)
# test =test.drop('region',1)

In [5]:
train.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [6]:
train['education']=train['education'].fillna(train['education'].mode()[0])
train['previous_year_rating']=train['previous_year_rating'].fillna(train['previous_year_rating'].mode()[0])

In [7]:
train = train.drop('employee_id',1)

In [8]:
train['recruitment_channel'] = train['recruitment_channel'].replace({'other':0,'sourcing':1,'referred':2})

In [9]:
train['gender'] = train['gender'].replace({'m':0,'f':1})

In [10]:
train['department'] = train['department'].replace({'Sales & Marketing' : 0,'Operations' : 1,'Procurement': 2,'Technology' : 3,
                                                  'Analytics':4,'Finance':5,'HR':6,'Legal':7,'R&D':8})

In [11]:
train=pd.get_dummies(train)

In [12]:
test.isnull().sum()

employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [13]:
test['recruitment_channel'] = test['recruitment_channel'].replace({'other':0,'sourcing':1,'referred':2})
test['gender'] = test['gender'].replace({'m':0,'f':1})
test['department'] = test['department'].replace({'Sales & Marketing' : 0,'Operations' : 1,'Procurement': 2,'Technology' : 3,
                                                  'Analytics':4,'Finance':5,'HR':6,'Legal':7,'R&D':8})

In [14]:
test['education']=test['education'].fillna(test['education'].mode()[0])
test['previous_year_rating']=test['previous_year_rating'].fillna(test['previous_year_rating'].mode()[0])

In [15]:
test=pd.get_dummies(test)

In [16]:
test = test.drop('employee_id',1)

In [17]:
X = train.drop('is_promoted',1)

In [18]:
y = train['is_promoted']

In [19]:
from sklearn.tree import ExtraTreeRegressor
regr1 = ExtraTreeRegressor()
regr1.fit(X, y)
pred_a = regr1.predict(test)

In [20]:
print(pred_a)

[0. 0. 0. ... 0. 0. 0.]

In [22]:
submission = pd.DataFrame({
        "employee_id": subm["employee_id"],
        "is_promoted": pred_a
    })

submission.to_csv('submission1.csv', index=False)

In [23]:
a= pd.read_csv('submission1.csv')

In [24]:
a['is_promoted'].value_counts()

0.0    21307
1.0     2176
0.5        7
Name: is_promoted, dtype: int64